[Unit]
Description="bot-lax-adaptor (many)"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardError=syslog
Restart=on-failure
ExecStart=/opt/bot-lax-adaptors.sh
