[Unit]
Description="bot-lax uWSGI server"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment="LANG=en_US.UTF-8"
StandardError=syslog
Restart=on-failure
ExecStart=/opt/bot-lax-adaptor/venv/bin/uwsgi --die-on-term --ini /opt/bot-lax-adaptor/uwsgi.ini
