[Unit]
Description="{{ process }}"
After=network.target
PartOf={{ process }}-controller.target
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#StartLimitIntervalSec=interval
# "if service fails "burst" times within "interval" seconds, do not continue restarting it"
# in this case, if the service fails twice within 5 seconds, stop trying
StartLimitBurst=2
StartLimitIntervalSec=5

[Install]
WantedBy={{ process }}-controller.target

[Service]
Environment="LANG=en_US.UTF-8"
StandardError=syslog
Restart=on-failure
# wait N seconds after SIGTERM before sending SIGKILL:
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html#TimeoutStopSec=
# in this case, blocking for 20 seconds on polling plus a few seconds for a new ingest
TimeoutStopSec=30
User={{ pillar.elife.deploy_user.username }}
WorkingDirectory=/opt/bot-lax-adaptor
# .bot-lax-listener.sh doesn't seem to use pillar.elife.env *or* the instance ID ...
{% if pillar.elife.newrelic.enabled %}
Environment="NEW_RELIC_CONFIG_FILE=/srv/lax/newrelic.ini"
ExecStart=/opt/bot-lax-adaptor/venv/bin/newrelic-admin run-program ./.bot-lax-listener.sh {{ pillar.elife.env }} %I
{% else %}
ExecStart=/opt/bot-lax-adaptor/.bot-lax-listener.sh {{ pillar.elife.env }} %I
{% endif %}
